<launch>

    <group ns="turtle1">
        <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle]"/>
        <arg name="x_pos" default="0.0"/>
        <arg name="y_pos" default="0.0"/>
        <arg name="z_pos" default="0.0"/>


        <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>

        <node name="spawn_urdf_1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description"/>
        
        <node name="turtlesim_motion_pose_1" pkg="formation" type="independent_paths.py" output="screen">
            <param name="turtle" type="string" value="turtle1" />
            <param name="offset" type="double" value="0.0" />
            <param name="other_turtle1" type="string" value="turtle2" />
            <param name="other_turtle2" type="string" value="turtle3" />
            <remap from="/turtle1/turtle2_ready" to="/turtle2/turtle2_ready"/>
            <remap from="/turtle1/turtle3_ready" to="/turtle3/turtle3_ready"/>
        </node>
    </group>

    <group ns="turtle2">
        <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle]"/>
        <arg name="x_pos_2" default="0.0"/>
        <arg name="y_pos_2" default="-1.0"/>
        <arg name="z_pos_2" default="0.0"/>

        <param name="robot_description_2" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>
        
        <node name="spawn_urdf_2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger_2 -x $(arg x_pos_2) -y $(arg y_pos_2) -z $(arg z_pos_2) -param robot_description_2"/>
        
        <node name="turtlesim_motion_pose_2" pkg="formation" type="independent_paths.py" output="screen">
            <param name="turtle" type="string" value="turtle2" />
            <param name="offset" type="double" value="-1.0" />
            <param name="other_turtle1" type="string" value="turtle1" />
            <param name="other_turtle2" type="string" value="turtle3" />
            <remap from="/turtle2/turtle1_ready" to="/turtle1/turtle1_ready"/>
            <remap from="/turtle2/turtle3_ready" to="/turtle3/turtle3_ready"/>
        </node>
    </group> 

    <group ns="turtle3">
        <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle]"/>
        <arg name="x_pos_3" default="0.0"/>
        <arg name="y_pos_3" default="1.0"/>
        <arg name="z_pos_3" default="0.0"/>

        <param name="robot_description_3" command="$(find xacro)/xacro.py $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>
        
        <node name="spawn_urdf_3" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_burger_3 -x $(arg x_pos_3) -y $(arg y_pos_3) -z $(arg z_pos_3) -param robot_description_3"/>
        
        <node name="turtlesim_motion_pose_3" pkg="formation" type="independent_paths.py" output="screen">
            <param name="turtle" type="string" value="turtle3" />
            <param name="offset" type="double" value="1.0" />
            <param name="other_turtle1" type="string" value="turtle1" />
            <param name="other_turtle2" type="string" value="turtle2" />
            <remap from="/turtle3/turtle1_ready" to="/turtle1/turtle1_ready"/>
            <remap from="/turtle3/turtle2_ready" to="/turtle2/turtle2_ready"/>
        </node>
    </group> 

    <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/> 
        <arg name="paused" value="false"/> 
        <arg name="use_sim_time" value="true"/> 
        <arg name="gui" value="true"/> 
        <arg name="headless" value="false"/> 
        <arg name="debug" value="false"/> 
    </include>
    
</launch>
