<launch>
    <!-- Turtlesim Node-->

    <node name="turtle1_tf_broadcaster" pkg="multi_robot" type="tf_broadcaster.py" respawn="false" output="screen" > 
        <param name="turtle" type="string" value="turtle1" />
    </node>

    <node name="turtle2_tf_broadcaster" pkg="multi_robot" type="tf_broadcaster.py" respawn="false" output="screen" >
        <param name="turtle" type="string" value="turtle2" />
    </node>

    <node pkg="multi_robot" type="tf_listener.py" name="listener"/>

</launch>

